



  #my-input-searchbox {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    font-size: 15px;
    border-radius: 3px;
    border: 0;
    margin-top: 10px;
    width: 270px;
    height: 40px;
    text-overflow: ellipsis;
    padding: 0 1em;
  }


/* The user input container */
#section_container{
    margin-top: 80px;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}
.my_container{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px; 
    padding-right: 10px;
    display: block;
    text-align: center;
    align-content: center;
}

#user_form, #shops_form {
    margin-top: 2%;
    margin-bottom: 1%;
    width: 80%;
}
.user_input{
    text-align: center;
    width: 100%;
}

.highlight{
    color: #90d4ed;
}

.container1 {
     margin: 0px;
}

.text_container{
    width: 98%!important; 
    
    margin: 0px 1% 0px 1% !important; 
}


.direction_text{
    font-size: 30px;
    margin: 0px 0px 2% 0px; 
    padding: 0px;
}

.next_button{
    display: inline-block;
    font-size: 2em;
    width: 80%;
    box-sizing: border-box;
}

.one_btn {
    display: inline-block;
    font-size: 2em;
    width: 39%;
    margin-right: 1%;
    box-sizing: border-box;
}

.two_btn {
    display: inline-block;
    font-size: 2em;
    width: 39%;
    margin-left: 1%;
    box-sizing: border-box;
}

#destination_selection{
    display: block;
}

#shop_selection{
    display: None;
}

/* For select2 input */
.select2-selection__rendered {
    line-height: 67px !important;
}
.select2-container .select2-selection--single {
    height: 70px !important;
}
.select2-selection__arrow {
    height: 70px !important;
}

.select2-results {
    color: black !important;
}

.select2-selection__rendered {
    font-size: 2em;
  }

.select2-container {
    width: 80% !important;
}


.select2-container--default .select2-results>.select2-results__options{
    font-size:2em;
}

#starting_location {
    display:flex;
    height:100%;
}

#searchWindow{
    height:100%;  width:100%; margin-top: 1%;
    min-height: 30%;
    min-width: 30%;
}

#map1{
    height:100%;  width:90%;
    min-height: 30%;
    min-width: 30%;
    margin-left: 5%;
}

.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: whitesmoke;
    color: black;
    padding: 2%;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  
  .title {
    color: #333333;
    font-size: 18px;
  }

  #final_back, #url_button , #final_copy, #history_home, #history_open , #history_copy {
      margin:0.5% auto 0.5% auto;
      color:white;
  }

  #header{
      font-weight: bold;
  }
  #header > * {
      font-size: 3em;
  }
  .thisa {
    text-decoration: none;
    font-size: 0.9em;
    color: white;
  }
  .thisa:hover {
    color: white !important;
  }
  .dark_highlight {
      color: #3d6ba0;
  }
  
  
  

@media only screen and (max-width: 768px) {

}