#container2 {
    /*overflow: scroll;*/
    overflow-x: hidden;
    max-width: 100%; 
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    z-index: 0 !important;
}

#table_info{
    color:white;
    font-size: 15px;
}

label{
    font-size: 20px;
    color:white;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;    
    color: #333;
    background-color: #fff;
}